.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-row {
  margin-top: 30px;
}

.col-checkbox {
  padding-top: 50px;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.panel.panel-primary {
  padding: 10px;
  background-color: #F5F5F5;
  cursor: default;
}

.panel-heading {
  padding: 10px;
  font-weight: bold;
  cursor: default;
}

.panel.panel-primary .list-group-item {
  margin-bottom: 10px !important;
}

.panel.panel-primary .list-group-item:hover {
  cursor: pointer;
  background-color: #FFEFD5;
}

.answered-true {
  cursor: default !important;
  pointer-events:none;
}

.correct-true {
  background-color: #00FF00 !important;
}

.incorrect-true {
  background-color: #DC143C !important;
}

.return {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.dialog-body div:parent {
  overflow-y: scroll !important;
}
